.container {
    background-color: darkgray;
    padding-left: 20px;
    padding-right: 20px;
}

body {  
    background: color: red;
    font-family: 'Permanent Marker', cursive;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5d/Compton,_1895,_F%C3%BCnffingerspitze_von_Osten.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    padding: 20px;
}

footer { 
    display: block;
}

div {
    background-color: darkgray;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: black;
}





	
