.container {
    padding-left: 30px;
    padding-right: 30px;
}

body {  
background: color: red;
font-family: 'Permanent Marker', cursive;
}

.aboutkendrick {
    font-size: 20px;
}

footer { 
    display: block;
}






	
