.container {
    background-color: #aaa;
    padding-left: 20px;
    padding-right: 20px;
}

body {  
    font-family: 'Permanent Marker', cursive;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5d/Compton,_1895,_F%C3%BCnffingerspitze_von_Osten.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    padding: 20px;
}

footer { 
    display: block;
}

div {
    background-color: #aaa;
    padding: 20px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: #333;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {

    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color: #aaa;
    background-color:#333;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.aboutkendrick {
    font-size: 20px;
}

.presentation {
    float: left;
}

